.ps-home-collection img {
    width: 100%;
    height: 555px;
    max-width: 100%;
    object-fit: cover;
    object-position: center;
}

.ps-our-products .ps-product .ps-product__thumbnail img {
    width: 100%;
    max-width: 100%;
    height: 235px;
    object-fit: cover;
    object-position: center;
}

.ps-product .ps-product__actions li a {
    padding: 5px 10px;
    font-size: 12px;
}

.ps-wrapper .slick-track .slick-slide.slick-current img {
    height: 576px;
    object-fit: cover;
    object-position: center;
}

.ps-related-products .ps-product .ps-product__thumbnail img {
    height: 340px;
    object-fit: cover;
    object-position: center;
}

.ps-block--lookbook img {
    /* height: 300px; */
    object-fit: cover;
    object-position: center;
}

.ps-shopping .ps-product__img img,
.ps-shopping .ps-product__img-alt img {
    height: 300px;
    object-fit: cover;
    object-position: center;
}

.payment-option .ps-radio label:after {
    content: '\2713';
    font-size: 13px;
    color: #fff;
    font-weight: bold;
    background-color: #222222;
    line-height: 0.9;
}

.payment-option .ps-radio input[type=radio]:checked ~ label:after {
    line-height: 0.9;
}

.ps-btn-add-to-cart {
    cursor: pointer;
    height: auto !important;
}

.ps-btn-login {
    background: none;
    border:none;
}

.bg-time-transaction{
    background: url(../img/bg_time.png);
}

.btn-close-search {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 0;
    font-size: 2rem;
    background-color: transparent;
    border: none;
    color: #ccc !important;
}

.hidden {
    display: none;
}

.nav-pills .nav-link.active {
    color: #fff;
    background-color: #1d2124 !important;
}

.ps-footer__content {
    background: url(../img/banner_bawah.png);
}

.navigation__right .ps-form--primary-search input {
    height: auto;
}
